<div class="chores">
  <h3>Chores</h3>
  <ul>
    <li *ngFor="let chore of chores">{{ chore }}</li>
  </ul>
</div>
<p *ngIf="chores.length > finishedChores.length">Work harder!</p>
<hr />

<div class="doneChores">
  <h3>Done Chores</h3>
  <ul>
    <li *ngFor="let done of finishedChores">{{ done }}</li>
  </ul>
</div>
<p
  *ngIf="
    chores.length === 0 || finishedChores.length >= chores.length + 3;
    else noAllowance
  "
>
  <img src="{{ targetImage }}" />
</p>
<h1
  style="color: rgb(4, 141, 66)"
  *ngIf="
    chores.length === 0 && finishedChores.length >= 4;
    else bonusInstructions
  "
>
  Ice cream treat!
</h1>
<hr />

<ng-template #noAllowance>
  <p>No allowance yet.</p>
</ng-template>

<ng-template #bonusInstructions>
  <div class="bonus">
    <h3>To earn an ice cream treat:</h3>
    <p>The chores list must be empty</p>
    <p>The Done list must have at least 4 items.</p>
  </div>
</ng-template>
