.chores {
  color: #ff4f33;
}

.doneChores {
  color: #3c79b8;
}

.bonus {
  color: rgb(4, 141, 66);
}

h1,
h3 {
  text-align: center;
}

img {
  max-width: 15%;
  height: auto;
  display: block;
  margin: auto;
}

p {
  color: rgb(4, 141, 66);
  text-align: center;
  font-weight: 700;
}
